body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 50px 150px;
}

p {
  margin: 0;
}

.list-group {
  margin: 0;
}

.btn-light {
  margin-right: 8px;
}

.form-group {
  margin: 20px;
}

.question-title {
  display: flex;
  justify-content: flex-end;
}

.list-item {
  margin-bottom: 12px;
  padding: 12px;
  border: 4px;
  border: 1px solid rgba(0,0,0,.125);
}

.questions {
  margin: 20px;
}

.empty-state {
  margin: 20px;
}